<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com"
 th:replace="~{base :: layout(~{::title},~{::section})}">
<head>
<meta charset="UTF-8">
<title>Index Page</title>
</head>
<body>
<section>
	<!--<div class="text-black text-center">
			<h1>MindfulMemo - Save Your Notes</h1>
			<p>Start Collecting your Notes in very smarter way .We provied
				very difficult and smarter way of handling Notes</p>
			<button class="btn bg-primary text-white">Let's Go..</button>
		<!--</div>-->
	
	<div class="container-fluid p-0 m-0"></div>
	<img alt="" src="../img/homeicon.jpg" width="100%" height="100%">
	
</section>
</body>
</html>